<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (messages.length > 0) { %> <% messages.forEach(message => { %>
    <div class="message">
      <h3 class="user"><%= message.user %></h3>
      <p class="text"><%= message.text %></p>
      <p class="date"><%= message.added %></p>
    </div>

    <% }) %> <% } else { %>
    <p>There are no messages.</p>
    <% } %>
  </body>
</html>
